{% extends 'student/studentBase.html' %}

{% block content %}
<h1>Subject Grades</h1>
<table>
    <tr>
        <th>Subject Code</th>
        <th>Subject</th>
        <th>Grade</th>
    </tr>
    {% for sg in subjectGrade %}
        <tr>
            <td><a href="{{ url_for('studentGradesDetails', subjectCode = sg.subject.code) }}">{{ sg.subject.code }}</a></td>
            <td><a href="{{ url_for('studentGradesDetails', subjectCode = sg.subject.code) }}">{{ sg.subject.name }}</a></td>
            <td>{{ sg.grade }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}