* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

main {
    display: block;
}

.sidebar {
    position: fixed;
    background-color: #042331;
    height: 100%;
    width: 20%;
}

.sidebar header {
    text-align: center;
    user-select: none;
    background-color: #063145;
}

.sidebar header a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    line-height: 70px;
}

.sidebar header h4 {
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
}

.sidebar ul a {
    color: white;
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 65px;
    font-size: 18px;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .3s;
}

ul li:hover a{
    padding-left: 50px;
}

.content {
    height: 100%;
    padding: 5% 5% 5% 25%;
}

.avaSubject {
    padding: 10px;
    border-spacing: 10px;
}

table a {
    text-decoration: none;
}

table {
    padding: 10px;
    border-spacing: 10px;
}

.subjectDetail td {
    font-size: 15px;
}