{% extends 'educator/educatorBase.html' %}

{% block content %}
    {% if subCpmk.assessmentIndicator|length == 0 %}
        <h1>No Idikator Penilaian</h1>
    {% else %}
        <h1>{{ subCpmk.code }}</h1>
        <h2>{{ subCpmk.name }}</h2>
        <table>
            <tr>
                <th>Code</th>
                <th>Indikator Penilaian</th>
                <th>SubCPMK Grade Percentage</th>
            </tr>
            {% for ind in subCpmk.assessmentIndicator %}
                <tr>
                    <td><a href="{{ url_for('educatorSubjectCpmkSubCpmkIndikatorRubric', subjectCode = ind.subjectCode, cpmkCode = ind.cpmkCode, subCpmkCode = ind.subCpmkCode, indikatorPenilaianCode = ind.code) }}">{{ ind.code }}</a></td>
                    <td><a href="{{ url_for('educatorSubjectCpmkSubCpmkIndikatorRubric', subjectCode = ind.subjectCode, cpmkCode = ind.cpmkCode, subCpmkCode = ind.subCpmkCode, indikatorPenilaianCode = ind.code) }}">{{ ind.name }}</a></td>
                    <td>{{ ind.gradePercent }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <form action="{{ url_for('educatorSubjectCpmkSubCpmkIndikatorAdd', subjectCode = subCpmk.subjectCode, cpmkCode = subCpmk.cpmkCode, subCpmkCode = subCpmk.code) }}" method="GET">
        <button type="submit">Add Indikator Penilaian</button>
    </form>
{% endblock %}