{% extends 'educatorBase.html' %}

{% block content %}
    <h1>{{ subject.code }}</h1>
    <h2>{{ subject.name }}</h2>

    <table>
        <tr>
            <th>Code</th>
            <th>CPMK</th>
            <th>Subject Grade Percentage</th>
        </tr>
        {% for cpmk in subject.cpmk %}
            <tr>
                <td><a href="{{ url_for('educatorSubjectCpmkSubCpmk', subjectCode = subject.code, cpmkCode = cpmk.code) }}">{{ cpmk.code }}</a></td>
                <td><a href="{{ url_for('educatorSubjectCpmkSubCpmk', subjectCode = subject.code, cpmkCode = cpmk.code) }}">{{ cpmk.name }}</a></td>
                <td>{{ cpmk.gradePercent }}</td>
            </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('educatorSubjectCpmkAdd', subjectCode = subject.code) }}" method="GET">
        <button type="submit">Add CPMK</button>
    </form>
{% endblock %}