{% extends 'admin/adminBase.html' %}

{% block content %}
<h1>Capaian Pembelajaran Lulusan</h1>
    <table>
        <tr>
            <th>Code</th>
            <th>CPL</th>
            <th>Subject Code</th>
        </tr>
        {% for c in cpl %}
        <tr>
            <td>{{ c.code }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.subjectCode }}</td>
        </tr>
        {% endfor %}
    </table>

    <form action="{{ url_for('adminAddCpl') }}">
        <button>Add CPL</button>
    </form>
{% endblock %}