{% extends 'admin/adminBase.html' %}

{% block content %}
    {% if list|length == 0 %}
    <h2>No Assignments Rubric</h2>
    {% else %}
        <h1>Assignment Rubric</h1>
        <table>
            <tr>
                <th>No</th>
                <th>Criteria</th>
                <th>Grade Percentage</th>
            </tr>
            {% for l in list %}
            <tr>
                <td>{{ l[1] }}</td>
                <td>{{ l[2] }}</td>
                <td>{{ l[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}