<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body class="loginBody">
    <div class="loginForm">
        {% block login %}
        <h1>Login</h1>
        <form action="{{ url_for('loginEducator') }}">
            <button type="submit">Login Educator</button>
        </form>
        <form action="{{ url_for('loginStudent') }}">
            <button type="submit">Login Student</button>
        </form>
        {% endblock %}
    </div>
</body>
</html>