{% extends 'studentBase.html' %}

{% block content %}
<h1>{{ subjectGrade.subject.name }}</h1>
<h3>Overall Grade = {{ subjectGrade.grade }}</h3>

<table>
    <tr>
        <th>Code</th>
        <th>CPMK</th>
        <th>Grade</th>
    </tr>
    {% for cg in subjectGrade.cpmkGrades %}
        {% for c in subjectGrade.subject.cpmk %}
            {% if cg.code == c.code %}
                <tr>
                    <td><a href="{{ url_for('studentGradesDetailsCpmk', subjectCode = subjectGrade.subjectCode, cpmkCode = c.code) }}">{{ c.code }}</a></td>
                    <td><a href="{{ url_for('studentGradesDetailsCpmk', subjectCode = subjectGrade.subjectCode, cpmkCode = c.code) }}">{{ c.name }}</a></td>
                    <td>{{ cg.grade }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>

{% endblock %}